body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.title{
  color: white;
  width: 30%; 
  position: relative;
  margin: 100px 0 0 100px;
}
.title::after{
  content: '';
  display: block;
  height: 250px;
  width: 80%;
  position: absolute; 
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -20;
  top: 0;
  right: -30px;
  border-right: 5px solid yellow;
}
.heading{
  position: relative;
  font-size: 1.2em;
  line-height: 0.8;
  z-index: 10px;
}
.heading::before{
  content: '';
  display: block;
  width: 10%;
  height: 10px;
  background-color: yellow;
  position: relative;
  top: 45px;
  left: 0;
}
.heading h1::after{
  content: '';
  display: block;
  width: 8%;
  height: 8px;
  background-color: yellow;
  position: absolute;
  bottom: 6px;
  right: 250px;
  transform: rotate(110deg);
}
.heading h1{
  position: relative;
  left: 50px;
}
.heading p{
  width: 90%;
  margin-left: 120px;
  color: grey;
}
span{
  color: yellow; 
}